<!DOCTYPE html>
<html>
  <head>
    <title>Serendipitous remembering.</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
    <style>
    html{
      background-image: url("../images/fw2.jpg");
      color: #000;
    }
    </style>
  </head>
  <body>
    <p>An error has been encountered.</p>



  </body>
</html>
