<!DOCTYPE html>
<html>
  <head>
    <title>Serendipitous remembering.</title>
  </head>
  <body>
    <div><p>MyJourney</p></div>
    <div>
      <form action = "">
        <label>Username</label>
        <input type = "text" placeholder="eg: john.doe@gmail.com"></input><br>
        <label>Password</label>
        <input type = "text" placeholder ="Password1"></input><br>
        <input type = "submit" placeholder="Login"></input><br>
      </form>
    </div>
  </body>
</html>
